{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <img class="card-img-top mb-2"
        src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_top.ico"
        alt="">
        <h2 class="text-center">No Days Off</h2>
        <h4>What's this app for?</h4>
        <img class="card-img-top mb-2"
        src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_bottom.ico"
        alt="">
        </div>
    </div>
{% endblock content %}
