{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="container-flex text-center" style="max-width: inherit;">
            <img
            src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_mainLogo.ico" style="max-width: 10rem;"
            >
        </div>

        <h5>What's this app for?</h5>
        <img class="card-img-top mb-2"
        src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_bottom.ico"
        alt="">
    </div>
    <div class="col-sm-3">
            <img class="card-img-top mb-2"
            src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_top.ico"
            alt="">
    </div>

    <div class="col-sm-9">

        DEMO TASKS HEREEEE
    </div>
    
</div>
{% endblock content %}
