{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <img class="card-img-top mb-2"
            src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_top.ico"
            alt="">
        <div class="container-flex text-center" style="text-center">
                    <div class="card text-center">
                      <div class="card-body text-center">
                        <h4 class="card-title">Attila Turkoz</h4>
                        <h6 class="card-subtitle text-muted">by @attila5287</h6>
                        <img
                        class="img-fluid text-center" 
                        src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_mainLogo.ico" style="max-width: 10rem;"
                        >
                      </div>
                      <div class="card-body">
                        <p class="card-text">What's this app for?</p>
                        <a href="#" class="card-link">Link 1</a>
                        <a href="#" class="card-link">Link 2</a>
                      </div>
                    </div>

        </div>
        
        <img class="card-img-top mb-2"
        src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_bottom.ico"
        alt="">
    </div>
    <div class="col-sm-3">
            
    </div>
    <div class="col-sm-9">

    </div>
    
</div>
{% endblock content %}
