{% extends "layout.html" %}
{% block content %}
<style>
.alert-secondary{
    border-color: black;
    border-width: medium;
}
.bg-mainbsq {
    background-color: #FECD82;
}
.bg-urgent {
    background-color: #FECD82;
}
.bg-important {
    background-color: #FECD82;
}
.bg-zone11 {
    background-color: rgb(212, 125, 119);
}
.bg-zone10 {
    background-color: rgba(238, 156, 79, 0.966);
}
.bg-zone01 {
    background-color: rgba(170, 177, 130, 0.877);
}
.bg-zone00 {
    background-color: rgba(152, 170, 199, 0.883);
}            
</style>

<div class="row">
    <div class="col-sm-3">
            <img
            src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_task_list.ico"
            style="height: 3rem;">

        <img class="card-img-top mb-2"
        src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_top.ico"
        alt="">
        <div class="nav-flex-column" style="width: fit-content; height:max-content;">

            <a class="nav-item btn btn-large nav-link bg-zone11 text-dark border-dark mb-2"
                href="{{ url_for('tasks.tasks_list') }}" style="border-width: medium">
                <i class="fa fa-bell mr-2" aria-hidden="true">Urgent</i><br>
                <i class="fa fa-eye mr-2" aria-hidden="true">Important</i>
            </a>
            <a class="nav-item btn btn-large btn-secondary nav-link bg-zone10 text-dark border-dark mb-2"
                href="{{ url_for('tasks.tasks_list') }}" style="border-width: medium;">
                <i class="fa fa-bell mr-2" aria-hidden="true">Urgent</i><br>
                <i class="fa fa-eye-slash mr-2" aria-hidden="true">Not Important</i>
            </a>

            <a class="nav-item btn btn-large btn-secondary nav-link bg-zone01 text-dark border-dark mb-2"
                href="{{ url_for('tasks.tasks_list') }}" style="border-width: medium;">
                <i class="fa fa-bell-slash mr-2" aria-hidden="true">Less Urgent</i>
                <br>
                <i class="fa fa-eye mr-2" aria-hidden="true">Important</i>
            </a>

            <a class="nav-item btn btn-large btn-secondary bg-zone00 nav-link text-dark border-dark mb-2"
                href="{{ url_for('tasks.tasks_list') }}" style="border-width: medium;">
                <i class="fa fa-bell-slash mr-2" aria-hidden="true">Less Urgent</i><br>
                <i class="fa fa-eye-slash mr-2" aria-hidden="true">Less Important</i>
            </a>                    <img class="card-img-top mb-2"
            src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_bottom.ico"
            alt="">
        </div>
    </div>        
    <div class="col-sm-6">
        {% for task in tasks %}
        <div class="card border-dark mb-2" style="border-width: medium;">
            <div class="card-header bg-zone{{ task.matrix_zone }} border-dark text-dark text-center mb-0"
                style="border-bottom-width: medium;">
                <i class="fas fa-umbrella ml-0"></i>
                {{ task.urg_points }}</i>
                <i class="fas fa-anchor"></i>
                {{ task.imp_points }}</i>
                <a>
                    <strong>
                        {% if task.done %}<strike>{% endif %}
                            {{ task.title }}
                            {% if task.done %}</strike>{% endif %}
                    </strong>
                </a>
                <a class="text-primary float-right" href="/done/{{ task.id }}">
                    <i class="fas fa-check"></i>
                </a>
                <a class="text-danger float-right mr-2" href="/delete/{{ task.id }}">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="card-body bg-bisque">
                <p class="card-text">
                    {{ task.content }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-3">
        <div class="container-fluid">
            <img
            src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_task_score.ico"
            style="height: 3rem;">
        </div>
            <div class="jumbotron jumbotron-fluid bg-urgent p-1 my-2">
                <div class="container text-center">
                    <div class="alert alert-secondary bg-zone11" role="alert">
                        <i class="fas fa-umbrella"></i>
                        <strong>URGENCY</strong>
                    </div>
                    <h4 class="display-3">{{ current_user.urg_pts}}</h4>
                    <div class="alert alert-secondary bg-zone10 " role="alert">
                        <i class="fas fa-umbrella-beach"></i>
                        <strong>POINTS</strong>
                    </div>
                </div>
            </div>

<div class="container-fluid text-center">
    <img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/{{current_user.avatar_mode}}{{current_user.avatar_img}}  " class="img-fluid" alt="" style="max-height: 12rem;">    
</div>

        <div class="jumbotron jumbotron-fluid bg-important my-1 py-1">
            <div class="container text-center">
                <div class="alert alert-secondary bg-zone01" role="alert">
                    <i class="fas fa-anchor"></i>
                    <strong>IMPORTANCE</strong>
                </div>
                <h4 class="display-3">{{ current_user.imp_pts}}</h4>
                <div class="alert alert-secondary bg-zone00" role="alert">
                    <i class="fas fa-anchor"></i>
                    <strong>POINTS</strong>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}
