
<style>
  strong{
    font-family: cursive;
  }
  table {
    border-top-width: medium ;
    border-top-style:  solid;
    border-top-color:  cadetblue;
  }
  div.card {
    border-top-width: 2px ;
    border-top-style:  solid;
    border-top-color:  cadetblue;
  }
  .bg-body{
    background-color: #FECD82;
  }
  .border-body{
    border-color: #FECD82;
    border-width: medium;
  }  
  .table-hover tbody tr:hover td {
    background-color: rgba(243, 200, 100, 0.772);  
}
.table-hover tbody tr:hover th {
  background-color: rgba(243, 200, 100, 0.772);  
}
.table-hover tbody tr td {
  background-color: rgba(170, 177, 130, 0.55);
}
.table-hover tbody tr th {
  background-color: rgba(170, 177, 130, 0.55);
}
.table-hover thead{
  background-color: rgba(170, 177, 130, 0.55);
}
</style>


{% extends "layout.html" %}
{% block content %}
<img class="mb-2" src="https://raw.githubusercontent.com/attila5287/task_app_img/master/ndo_proday_icon.png" alt=""style="height: 3rem;">

{% if prodays == [] %} 
  <a>No productive days planned so far...</a>
{% else %}

<div class="container-fluid text-center">
<div class="row">
  {% for proday in prodays.items %}
    <div class="col-md-5 text-center">
      <div class="card border-dark" style="border-width: medium;">
        <div class="card-header bg-gold text-right border-dark" style="border-width: medium;">
          <a href="{{ url_for('prodays.delete_proday', proday_id=proday.id) }}" class ="btn btn-danger btn-sm">
          <i class="fas fa-times ml-auto" href="/"></i></a>
          <a href="{{ url_for('prodays.update_proday', proday_id=proday.id) }}" class ="btn btn-secondary btn-sm ml-auto">
          <i class="fas fa-edit" href="/"></i></a>
          <i class="mr-auto">@
            {{ proday.date_posted.strftime('%Y-%m-%d') }}
          </i>
        </div>
        <div class="card-body bg-body">
          <h4 class="card-title">
            <a href="{{ url_for('prodays.proday', proday_id=proday.id) }}">{{ proday.title }}</a></h4>
          <div class="container-fluid">
            <div class="progress my-2">
              <div class="progress-bar progress-bar-striped bg-gold  border-dark" role="progressbar" style="width:{{proday.perc_done|string}}%" aria-valuenow="{{proday.perc_done|string}}" aria-valuemin="0" aria-valuemax="100">
              </div>
          </div>
          </div>
          <p class="card-text">{{ proday.desc }}</p>
        </div>
      </div>

      <div class="card-group my-2">
        <div class="card">
          <div class="card-header bg-gold p-0">
              mind
          </div>
            <i class="fas fa-drafting-compass fa-3x m-2"> </i>
            <h1>{{ proday.count_c01 }}</h1>
            <div class="card-body">
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-gold p-0">
            mind
        </div>
          <i class="fas fa-walking fa-3x m-2"></i>
          <h1>{{ proday.count_c02 }}</h1>
          <div class="card-body">
            <h4 class="card-title">{{ proday.count_c02 }}</h4>
            <p class="card-text">Text</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-gold p-0">
            mind
        </div>
          <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-gold p-0">
            mind</div>        
          <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
      <h1>
      <i class="fas fa-drafting-compass"></i>
      <hr>
      {{ proday.countD_c01 }}  
    </h1>
    <i class="fas fa-clipboard-list">
      {{ proday.count_c01 }}  
    </i>
        </i>
        </div>
        <div class="col-md-3">
          <h1>
          <i class="fas fa-walking"></i>
          <hr>
          {{ proday.countD_c02 }}
        </h1>
        <i class="fas fa-clipboard-list">
          {{ proday.count_c02 }}  
        </i>
        </div>
        <div class="col-md-3">
          <h1>
          <i class="fas fa-spa"></i> 
          <hr>
          {{ proday.countD_c03 }}
        </h1>
        <i class="fas fa-clipboard-list">
          {{ proday.count_c03 }}  
        </i>
        </div>
        <div class="col-md-3">
          <h1>
          <i class="fas fa-battery-quarter"></i>
          <hr>
          {{ proday.countD_c04 }}
        </h1>
        <i class="fas fa-clipboard-list">
          {{ proday.count_c04 }}  
        </i>
        </div>
      </div>

    
    </div>

    <div class="col-md-4 text-center">

    </div>
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Heading</h5>
              <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
            <small>paragraph footer</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Heading</h5>
              <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
            <small>paragraph footer</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Heading</h5>
              <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
            <small>paragraph footer</small>
          </a>
        </div> 
      </div>
      
    </div>

    <div class="col-md-12 text-center">
      <table class="table table-light table-hover my-2">
        <thead style="background-color: #FECD82;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
            <th scope="col">Done!</th>
          </tr>
        </thead
        <tbody>
          <tr>
            <th scope="row" href="/">1</th>
            <td><img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon01}}" class="img-fluid" alt="" style="max-height: 2rem;"></td>
            <td>
              <strong>
              {% if proday.done01 %}<strike>{% endif %}
              {{proday.act01}}
              </strong>
            </td>
            <td>
              <a href="{{ url_for('prodays.first_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done01 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon02}}" class="img-fluid" alt="" style="max-height: 2rem;"></td>
            <td>
              <strong>
                {% if proday.done02 %}<strike>{% endif %}
                {{proday.act02}}
                {% if proday.done02 %}</strike>{% endif %}
                </strong>
            </td>

            <td>
              <a href="{{ url_for('prodays.second_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done02 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon03}}" class="img-fluid" alt="" style="max-height: 2rem;"></td>
            <td>
              <strong>
                {% if proday.done03 %}<strike>{% endif %}
                {{proday.act03}}
                {% if proday.done03 %}</strike>{% endif %}
                </strong>
            </td>
            <td>
              <a href="{{ url_for('prodays.third_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done03 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
            
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon04}}" class="img-fluid" alt="" style="max-height: 2rem;"></td>

            <td>
              <strong>
                {% if proday.done04 %}<strike>{% endif %}
                {{proday.act04}}
                {% if proday.done04 %}<strike>{% endif %}
              </strong>
            </td>
            <td>
              <a href="{{ url_for('prodays.fourth_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done04 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
            
          </tr>                        
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
</div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      {% for page_num in prodays.iter_pages(left_edge=5, right_edge=5, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if prodays.page == page_num %}
          <a class="btn btn-primary mb-4" href="{{ url_for('prodays.hom3', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-primary mb-4" href="{{ url_for('prodays.hom3', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

{% endif %}


{% endblock content %}





