{% extends "layout.html" %}
{% block content %}
{% if prodays == [] %} 
<a>
  No productive days planned so far...
</a>
{% else %}
    {% for proday in prodays.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ proday.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('prodays.proday', proday_id=proday.id) }}">{{ proday.title }}</a></h2>
            <p class="article-content">{{ proday.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in prodays.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if prodays.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    {% endif %}
{% endblock content %}
