<style>
}
.list-group-hover li a{
  background-color: rgba(243, 200, 100, 0.772);  
}
  .table-hover tbody tr:hover td {
    background-color: rgba(243, 200, 100, 0.772);  
}
.table-hover tbody tr:hover th {
  background-color: rgba(243, 200, 100, 0.772);  
}
.table-hover tbody tr td {
  background-color: rgba(170, 177, 130, 0.55);
}
.table-hover tbody tr th {
  background-color: rgba(170, 177, 130, 0.55);
}
.table-hover thead{
  background-color: rgba(170, 177, 130, 0.55);
}
  .bg-body{
    background-color: #FECD82;
  }
  .border-body{
    border-color: #FECD82;
    border-width: medium;
  }
</style>

<!-- PRODAY ACTION LIST -->
<div class="col-sm-7 text-center">
      <table class="table table-light table-hover my-2">
        <thead style="background-color: #FECD82;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
            <th scope="col">Done!</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" href="/">1</th>
            <td><img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon01}}" class="img-fluid" alt="" style="max-height: 2rem;"></td>
            <td>
              <strong>
              {% if proday.done01 %}<strike>{% endif %}
              {{proday.act01}}
              {% if proday.done01 %}</strike>{% endif %}
              </strong>
            </td>
            <td>
              <a href="{{ url_for('prodays.first_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done01 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon02}}" class="img-fluid" alt="" style="max-height: 2rem;"></td>
            <td>
              <strong>
                {% if proday.done02 %}<strike>{% endif %}
                {{proday.act02}}
                {% if proday.done02 %}</strike>{% endif %}
                </strong>
            </td>

            <td>
              <a href="{{ url_for('prodays.second_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done02 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon03}}" class="img-fluid" alt="" style="max-height: 2rem;"></td>
            <td>
              <strong>
                {% if proday.done03 %}<strike>{% endif %}
                {{proday.act03}}
                {% if proday.done03 %}</strike>{% endif %}
                </strong>
            </td>
            <td>
              <a href="{{ url_for('prodays.third_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done03 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
            
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>
              <img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon04}}" class="img-fluid" alt="" style="max-height: 2rem;">
            </td>

            <td>
              <strong>
                {% if proday.done04 %}<strike>{% endif %}
                {{proday.act04}}
                {% if proday.done04 %}<strike>{% endif %}
              </strong>
            </td>
            <td>
              <a href="{{ url_for('prodays.fourth_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm">
                {% if proday.done04 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </td>          
            
          </tr>                        
        </tbody>
      </table>
  </div>
  <div class="col-sm-8">
    <!-- PRODAY ACTIONS LIST -->
    <div class="row">
      <div class="container-fluid">
        <ul class="list-group bg-grass p-4">
          <li class="list-group-item active border-light p-4 m-3">
            Active item
          </li>
          <li class="list-group-item bg-grass  border-light m-3">
            <div class="container-fluid">
              <img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon01}}" class="img-fluid float-left" alt="" style="max-height: 2rem;">

              <strong class="text-center" style="font-size: larger;">
                {% if proday.done01 %}<strike>{% endif %}
                {{proday.act01}}
                {% if proday.done01 %}</strike>{% endif %}
              </strong>
            
              <a href="{{ url_for('prodays.first_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm float-right">
                {% if proday.done01 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </div>
          </li>
          <li class="list-group-item bg-grass border-light m-3">
            <div class="container-fluid">
              <img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon02}}" class="img-fluid float-left" alt="" style="max-height: 2rem;">

              <strong class="text-center" style="font-size: larger;">
                {% if proday.done02 %}<strike>{% endif %}
                {{proday.act02}}
                {% if proday.done02 %}</strike>{% endif %}
              </strong>
              <a href="{{ url_for('prodays.second_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm float-right">
                {% if proday.done02 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </div>
          </li>
          <li class="list-group-item bg-grass border-light m-3">
            <div class="container-fluid">

              <img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon03}}" class="img-fluid float-left" alt="" style="max-height: 2rem;">

              <strong  class="text-center" style="font-size: larger;">
                {% if proday.done03 %}<strike>{% endif %}
                {{proday.act03}}
                {% if proday.done03 %}</strike>{% endif %}
                </strong>
              <a href="{{ url_for('prodays.third_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm float-right">
                {% if proday.done03 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </div>
          </li>
          <li class="list-group-item bg-grass border-light m-3">
            <div class="container-fluid">
              <img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/category{{proday.icon04}}" class="img-fluid float-left" alt="" style="max-height: 2rem;">

              <strong class="text-center" style="font-size: larger;">
                {% if proday.done04 %}<strike>{% endif %}
                {{proday.act04}}
                {% if proday.done04 %}<strike>{% endif %}
              </strong>
              
              <a href="{{ url_for('prodays.fourth_act_done', proday_id=proday.id) }}" class ="btn btn-light btn-sm float-right">
                {% if proday.done04 %}
                <i class="fas fa-check" href="/"></i>
                {% else %}
                <i class="fas fa-expand"></i>
                {% endif %}
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>